::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
/* Custom global styles */
.graph-container {
  height: 100vh;
  background-color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0;
  width: 24rem;
  height: 24rem;
}

.graph-cell {
  border-right: 1px dotted #9ca3af;
  border-bottom: 1px dotted #9ca3af;
  height: 100%;
  width: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}